@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:custom-text-shadow:hover {
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.hover\:text-white:hover {
  color: #fff;
}

@media screen and (max-width: 1380px) {
  .header_navitem {
    margin: 0 17px !important;
  }
}

@media screen and (max-width: 1490px) {
  .header_navitem {
    margin: 0 24px !important;
  }
}

.hover\:custom-bg-transparent::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 28px; /* 根据需要调整 */
  height: 28px; /* 根据需要调整 */
  transform: translate(-50%, -50%);
  background: url('https://static-mp-27e2abce-1f98-4743-b169-8c5f9ac24dbb.next.bspapp.com/wvuecat/yscc.png') no-repeat center top;
  z-index: 10;
}

.hover\:custom-bg-transparent:hover::before {
  background: url('https://static-mp-27e2abce-1f98-4743-b169-8c5f9ac24dbb.next.bspapp.com/wvuecat/yscc.png') no-repeat center bottom; /* 更改为你的新图片 */

}
.hover\:custom-bg-transparent:hover{
  background: rgba(0,0,0,0);
}

.bg-pos-y-0 {
  background-position-y: 0;
}

.custom-background {
  background: rgba(0, 0, 0, 0) url("https://static-mp-27e2abce-1f98-4743-b169-8c5f9ac24dbb.next.bspapp.com/wvuecat/clonse.png") no-repeat center center;
}


.custom-position-important {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  overflow: visible !important;
  transform: translate(-50%, -50%);
  font-size: 0;
}

.bg-custom-image{
  background: url("https://static-mp-27e2abce-1f98-4743-b169-8c5f9ac24dbb.next.bspapp.com/wvuecat/fy.png") no-repeat center center;
}

.bg-black-7{
  background: rgba(0,0,0,.7);
}

.text-0 {
  font-size: 0;
}

/* 公共样式 */
@layer base {
  * {
    @apply box-border m-0 p-0;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, serif;
    font-size: 14px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  *,
  *::before,
  *::after {
    @apply box-border m-0 p-0;
  }

}

/*组件内嵌样式*/
@layer utilities{
  /*header*/
  .container_header {
    @apply bg-primary;
  }
}
